<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="http://localhost:3000/login/submit" method="get">
        <p>User: <input type="text" name="user"/></p>
        <p>Password: <input type="password" name="pw"/></p>
        <input type="submit" value="Login"/>
    </form>
  </body>
</html>
